<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>


   
  {{>navbar}}

   <div class="row">
    <p> . </p>
   </div>
        <div class="container-reg">
            <form method="POST" class="appointment-form" id="appointment-form">
                <h2>Login</h2>
                <div class="form-group-1">
                   
                    <input type="text" name="name" id="name" placeholder="UserName" required />
                    <input type="password" name="passport" id="password" placeholder="password" required />
                    
                </div>
            

                <div class="form-submit">
                    <input type="submit" name="submit" id="submit" class="submit" value="login" />
                </div>
            </form>
        </div>

   

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>