<!DOCTYPE html>
<html lang="en">

<head>

 {{>head}}
</head>>

<body>



  {{>navbar}}



   <div class="main">
  
    

        <div class="container-reg">

            <form method="POST" class="appointment-form" id="appointment-form">
                <h2> {{user}}</h2>
                <div class="form-group-1">
                <h3>{{module}}</h3>
                <h3>connect to this cool Student at <br>Lookingto@outllok.com{{email}}</h3>
                <h3>{{module}}</h3>
                    <div class="select-list">
                        <select name="sem" id="sem">
                            <option slected value="">{{name}}</option>
                            
                        </select>
                    </div>
                </div>
                <div class="form-group-2">
                    <h3>UNI-everywhere: <br> connect you. with other 
                    cool  limkokwing university students
                    that are willing to help in supecific module.
                    you do'nt be shy just email them  
                    the chalange you face </h3>
                    
                    </div>
                
                  

               
            </form>
        </div>

    </div>


 {{>imports}}

</body>

</html>
